
.review_area img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 0px 10px;
}
.review_flex{
    display: flex;
    justify-content: center;
    padding: 0px 10px;
    align-items: center;
}

.icon{
    color: lightseagreen;
    vertical-align: middle;
    padding-top: 5px;
}
.comment{
    text-align: left;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin: 5px;
    padding: 20px;
}
.date{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

@media (min-width: 900px) and (max-width: 1100px){
    .product_area {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 700px) and (max-width: 900px){
    .product_area {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 400px) and (max-width: 700px){
    .product_area {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 400px){
    .product_area {
        grid-template-columns: repeat(1, 1fr);
    }
}