
.about_part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}
.about_part img{
   width: 100px;
   height: 100px;
   border-radius: 50px;
}

.about_part h3, small, p{
    margin: 5px;
}

.about_heading{
    font-size: 35px;
    color: lightseagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about_heading_two h3{
    font-size: 30px;
    text-align: center;
}
.about_part small{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
}
.about_part >div{
    margin: 10px;
    padding: 10px;
    background-color: rgba(127, 189, 170, 0.153);
    height: 300px;
    width: 300px;
    border-radius: 8px;
    text-align: left;
}
.about_part >div p{
    line-height: 24px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    padding: 5px 0px;
}
.about_part >div small{
    color: lightseagreen;
}
@media (min-width: 900px) and (max-width: 1100px){
    .about_part {
        grid-template-columns: repeat(2, 1fr);
    }
    .about_heading_two h3{
        font-size: 20px;
    }
}
@media (min-width: 700px) and (max-width: 900px){
    .about_part {
        grid-template-columns: repeat(1, 1fr);
    }
    .about_heading{
        font-size: 25px;
    }
    .about_heading_two h3{
        font-size: 20px;
    }
}
@media (min-width: 400px) and (max-width: 700px){
    .about_part {
        grid-template-columns: repeat(1, 1fr);
    }
    .about_heading{
        font-size: 25px;
    }
    .about_heading_two h3{
        font-size: 20px;
    }
}
@media (max-width: 400px){
    .about_part {
        grid-template-columns: repeat(1, 1fr);
    }
    .about_heading{
        font-size: 25px;
    }
    .about_heading_two h3{
        font-size: 20px;
    }
}