
.about_part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}
.about_part img{
   width: 100px;
   height: 100px;
   border-radius: 50px;
}

.about_part h3, small, p{
    margin: 0;
    padding: 0;
}

.about_heading{
    font-size: 35px;
    color: lightseagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about_part small{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
}
.about_part >div{
    margin: 10px;
    padding: 10px;
    background-color: rgba(127, 189, 170, 0.153);
    height: 300px;
    width: 300px;
    border-radius: 8px;
    text-align: left;
}
.about_part >div p{
    line-height: 24px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    padding: 5px 0px;
}