.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 30px;
}
.home{
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.home_left h1{
    font-size: 45px;
    color: lightseagreen;
}
.home_left p{
    width: 90%;
    text-align: center;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 500;
    line-height: 22px;
}
.home_right img{
    border-radius: 8px;
  width: 100%;
}
.home_left button{
    border :none;
    padding: 10px 25px;
    background-color: lightseagreen;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 20px 0px;
}
.container .button{
    border :none;
    padding: 5px 50px;
    background-color: lightseagreen;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 30px 0px;
}
.container h2{
    font-size: 35px;
}
.product_area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #d1d1d1;
    padding: 15px;
    border-radius: 8px;
}

@media (min-width: 900px) and (max-width: 1100px){}
@media (min-width: 700px) and (max-width: 900px){
    .home{
        flex-direction: column;
      }
}
@media (min-width: 400px) and (max-width: 700px){
    .home{
        flex-direction: column;
      }
}
@media (max-width: 400px){
    .home{
      flex-direction: column;
    }
}




